<li>
  <span class="content"><%= prayer_request.content %></span>
  <span class="timestamp">
    Posted <%= time_ago_in_words(prayer_request.created_at) %> ago.
  </span>
  <%= render 'shared/delete_list_item_link', list_item: prayer_request %>
</li>
